html, body{
    overflow-x: hidden;
    background: ivory;
}

nav{
    min-height: 60px;
    background: #5c4054;
    color: ivory;
}

main{
    min-height: calc(100vh - 120px);
}

footer{
    min-height: 60px;
    background: #5c4054;
    text-align: center;
}

footer p{
    padding-top: 15px;
    margin-bottom: 0;
}

.social-media {
    font-size: 30px;
    padding-left: 7px;
    padding-right: 7px;
}

a{
    text-decoration: none;
    color: ivory;
}

a:hover{
    text-decoration: none;
    color: rgba(255, 255, 240, 0.664);
}

.logo{
    height: 40px;
    width: 40px;
}


.shelf-box{
    margin: 2.5vh 1vw;
    padding: 2.5vh 1vw;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    border-right: 2px solid #5c4054;
}

.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li{
    border-bottom: 2px solid #5c4054;
    padding: 1vh 0;
}

.book-cards{
    padding: 2vh 2vw;
}

.list-group{
    border-radius: 0;
}

.list-group-item{
    background: transparent;
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 2px solid #5c4054;
}

.list-group-item:hover, 
.list-group-item.active{
    color: ivory;    
    border-color: rgba(0, 0, 0, 0);
}

.list-group-item:hover{
    background: #5c405480;
    
}

.list-group-item.active{
    background: #5c4054;
}


.card{
    text-align: center;
    background: #5c40542a;
    border: 1px solid #5c405480;
    margin: 1vh 0;
}

.book-cover{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.dropdown-menu{
    padding: 5%;
}

.dropdown-toggle{
    margin: 5%;
}


.btn-secondary{
    background: #5c4054;
    color: ivory;
    transition: .25;
    border-color: #5c4054;
    box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus{
    background: ivory;
    color: #5c4054;
    border-color: #5c4054;
    box-shadow: none;
}

.addBook .btn-secondary{
    border-color: ivory;
    box-shadow: none;
}

.addBook .btn-secondary:hover,
.addBook .btn-secondary:active,
.addBook .btn-secondary:focus{
    border-color: #5c4054;
    box-shadow: none;
}


.book-cards h2::first-letter{
    text-transform: uppercase;
}

.accordion-body{
    background: ivory;
}

.accordion-flush .accordion-item .accordion-button{
    background: #5c4054;
    color: ivory;
    border: 1px solid #5c4054;
    border-radius: 3px;
    box-shadow: none;
}


.accordion-button:hover,
.accordion-button:active,
.accordion-button:focus{
    background: ivory;
    border-color: #5c4054;
    color: #5c4054;
    box-shadow: none;
}


.navbar-toggler{
    border-color: ivory;
    color: ivory;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus{
    box-shadow: none;
}

button::first-letter{
    text-transform: uppercase;
}

.addBook {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    font-size: 30px;
    color: #fff;
}

.addBook .dropdown-menu{
    padding: 15%;
    width: 200px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.form-control{
    margin: 4px 0;
}

footer p{
    color: ivory;
}

.card-body{
    display: flex;
    justify-content: center;
}

.card-body button{
    align-self: flex-end;
}