body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}
main{
    align-items: center;    
}

#signup{
    min-height: 100vh;
    background-color: #5c4054;
    align-items: center;
}

#load-text{
    min-height: 100vh;
    color: #5c4054;
    align-items: center;
    background-color: ivory;
}

@media screen and (min-width: 577px) {
    #load-text {  
        padding-left: 5vw;
        font-size: 6vh;
    }
    h1{
        font-size: 10vh;
    }
}
  
@media screen and (max-width: 576px) {
    #load-text {       
        font-size:6vw;
    }
    h1{
        font-size:10vw;
    }
}

.signup-box {
    padding: 10%;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.4);
    border-radius: 10px;
}

.signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: ivory;
    text-align: center;
}

.signup-box .user-box {
    position: relative;
}

.signup-box .user-box input {
    width: 100%;
    padding: 10px 0;
    color: ivory;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid ivory;
    outline: none;
    background: none;
}
.signup-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: ivory;
    pointer-events: none;
    transition: .5s;
}

.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgba(255, 255, 240, 0.712);
    font-size: 12px;
}

.signup-box form button {
    padding: 10px 20px;
    color: ivory;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px;    
    border-radius: 5px;
    border: 1px solid ivory;
    background: none;
}

.signup-box button:hover {
    background: ivory;
    color: #5c4054;
    border-radius: 5px;
}

.signup-box a{
    text-decoration: none;
    color: ivory;
    transition: .5;
    margin-top: 0;
}

.signup-box a:hover{
    text-decoration: none;
    color: rgba(255, 255, 240, 0.712);
}

.buttons button{
    padding: 10px 20px;
    color: #5c4054;
    background: none;
    font-size: 16px;
    text-decoration: none;
    transition: .5s;
    margin-top: 5%;
    letter-spacing: 4px;    
    border-radius: 5px;
    border: 1px solid #5c4054;
}

.buttons button:hover{
    background: #5c4054;
    color: ivory;
    border-radius: 5px;
}

span{
    color: ivory;
    text-align: center;
    align-items: center;
}

.sign-up-text{
    padding: 5vh 5vw;
}

p{
    margin-bottom: 0;
}






